Classification Model to Predict Program Performance Score

In [5]:
import numpy as np
import pandas as pd
import math

from sklearn import linear_model, preprocessing
from sklearn.neural_network import MLPRegressor, MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('seaborn')

/var/folders/w8/rx32_whx4n158n20x1kr4hph0000gn/T/ipykernel_2580/3985194730.py:13: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [6]:
x_data = pd.read_csv('x_all.csv')
x = x_data.to_numpy()
x_data

,total-operators,distinct-operators,total-operands,distinct-operands,function-calls,loops,assignments,max-cyclomatic-complexity,sum-cyclomatic-complexity,dynamic-memory-calls,file-access,file-operation,file-position,input-output,optimization
0,643,61,358,209,54,2,13,3,5,4,6,4,5,30,0
1,899,96,471,268,75,3,8,5,8,6,6,4,5,30,0
2,899,96,471,268,75,3,8,5,8,6,6,4,5,30,1
3,899,96,471,268,75,3,8,5,8,6,6,4,5,30,2
4,899,96,471,268,75,3,8,5,8,6,6,4,5,30,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,1313,107,694,442,88,4,13,6,11,7,6,4,5,30,1
79,832,89,428,265,74,1,1,2,4,4,6,4,5,30,0
80,832,89,428,265,74,1,1,2,4,4,6,4,5,30,1
81,832,89,428,265,74,1,1,2,4,4,6,4,5,30,2
82,832,89,428,265,74,1,1,2,4,4,6,4,5,30,3

In [7]:
y_data = pd.read_csv('y_all.csv')
y = y_data.to_numpy()
y_data

    score
0       1
1       2
2       3
3       4
4       4
..    ...
78      4
79      2
80      1
81      1
82      2

[83 rows x 1 columns]

In [16]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)

ann = MLPClassifier(
    # solver='lbfgs',
    max_iter=10000,
    # hidden_layer_sizes=[20],
    # alpha=0.001
    learning_rate_init=0.0001,
    learning_rate='constant'
)

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=(1 / 5), random_state=50)
y_train = y_train.ravel()
y_test = y_test.ravel()
ann.fit(x_train, y_train)
print(ann.score(x_train, y_train))

predictions = ann.predict(x_test)
print(accuracy_score(predictions, y_test))

for i in range(len(predictions)):
    print(f"PREDICTION: {predictions[i]}, ACTUAL: {y_test[i]}")

0.9090909090909091
0.7058823529411765
PREDICTION: 4, ACTUAL: 4
PREDICTION: 2, ACTUAL: 4
PREDICTION: 7, ACTUAL: 7
PREDICTION: 4, ACTUAL: 4
PREDICTION: 6, ACTUAL: 5
PREDICTION: 7, ACTUAL: 7
PREDICTION: 7, ACTUAL: 7
PREDICTION: 3, ACTUAL: 3
PREDICTION: 6, ACTUAL: 6
PREDICTION: 5, ACTUAL: 3
PREDICTION: 4, ACTUAL: 3
PREDICTION: 2, ACTUAL: 2
PREDICTION: 7, ACTUAL: 7
PREDICTION: 4, ACTUAL: 7
PREDICTION: 7, ACTUAL: 7
PREDICTION: 4, ACTUAL: 4
PREDICTION: 5, ACTUAL: 5